<!DOCTYPE html>
<html>
    <head>
        <meta
            content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densityDpi=device-dpi'
            name='viewport' />


        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
            </script>
        <link rel="stylesheet" href="{{ github-markdown-light.css }}">

    </head>
    <body>
        <div class='container'>
            {{ content }}
        </div>
    </body>
</html>
